<div class="apply-cv-form">
  <h2>Apply now!</h2>
  <p>Please upload your CV in a decent manner.</p>

  <form (ngSubmit)="onSubmitCvForm()">
    <div class="form-group">
      <label for="cvUpload">Your CV: </label>
      <input type="file" class="form-control-file" id="cvUpload" (change)="onCvSelected($event)" required>
      <span *ngIf="!isCv" style="color: red"> CV is required!</span>
    </div>
    <div class="form-group">
      <label for="comments">Comment: </label>
      <textarea class="form-control" id="comments" rows="3" [(ngModel)]="comments" name="comments"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit Form</button>
  </form>
</div>
<mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
