<div class="login-component">
  <div>
    <img class="bg-img" src="assets/images/bg-01.jpg" alt="">

  </div>
  <!--  <section class="bg" style="background-image: url('assets/images/bg-01.jpg')">-->
  <!--  </section>-->
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
               class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 form-login">
          <form *ngIf="showLoginForm">
            <div class="divider d-flex align-items-center my-4">
              <h2 class="text-center fw-bold mx-3 mb-0">Login !</h2>
            </div>
            <p class="error-alert" *ngIf="!isAccountValid" style="color: red">Wrong email or password!</p>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Email address</label>
              <input #email type="email" id="form3Example3" class="form-control form-control-lg"
                     placeholder="Enter your email address"/>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="form-label" for="form3Example4">Password</label>
              <input #password type="password" id="form3Example4" class="form-control form-control-lg"
                     placeholder="Enter password"/>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <!-- Role Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3"/>
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg"
                      style="padding-left: 2.5rem; padding-right: 2.5rem;"
                      (click)="login(email.value, password.value)">Login
              </button>
            </div>
          </form>
          <div *ngIf="!showLoginForm">
            <app-register (loginFormEvent)="handleLoginFormEvent($event)"></app-register>
          </div>

          <p *ngIf="showLoginForm" class="small fw-bold mt-2 pt-1 mb-0">
            Don't have an account? <a (click)="toggleForm()"
                                      class="link-danger">Register</a>
          </p>
          <p *ngIf="!showLoginForm" class="small fw-bold mt-2 pt-1 mb-0">
            Already have an account? <a (click)="toggleForm()"
                                        class="link-danger">Login</a>
          </p>
        </div>

        <!--        =========-->
      </div>
    </div>
  </section>
</div>
