<div class="left-bar-component">
  <!-- Sidebar content -->
  <div class="list-group-item">
    <h5>Category</h5>
    <ul>
      <li>
        <a href="">
          <div class="left-bar-item">
            <input type="checkbox">
            <span> Advertising/Promotion/PR</span>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="left-bar-item">
            <p>item1</p>
          </div>
        </a>
      </li>
    </ul>
    <hr>
  </div>

  <div class="list-group-item">
    <h5>Category</h5>
    <li>
      <a href="">
        <div class="left-bar-item">
          <p>item1</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="left-bar-item">
          <p>item1</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="left-bar-item">
          <p>item1</p>
        </div>
      </a>
    </li>
    <hr>
  </div>
</div>

<div class="col-10">
  <!-- Main content -->
  <p>Main content area...</p>
</div>
