<p>left-side-bar works!</p>
<div style="border: #1e59b2 solid 2px; width: 100%; height: 100px">f</div>
<button class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary jss24 css-1f3wfo0-MuiButtonBase-root-MuiTab-root"
        tabindex="-1" type="button" role="tab" aria-selected="false" id="scrollable-force-tab-0"
        aria-controls="scrollable-force-tabpanel-0"><span class="MuiTab-wrapper css-17yibpu-MuiTab-wrapper"><i class="bi bi-house-fill"></i></span><span
        class="MuiTouchRipple-root css-8je8zh-MuiTouchRipple-root"></span></button>
