<div class="job-content-component">
  <div class="row job-search">
    <div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn" type="submit"><i class="bi bi-search"></i></button>
      </form>
    </div>
  </div>

  <div class="row job-content">
    <h1>job content</h1>
    <div *ngFor="let job of jobs" class="job-card" routerLink="/job/job-detail/{{job.id}}">
      <div class="company-logo">
        <img src="{{ job.company?.logo }}" alt="Company Logo">
      </div>
      <div class="job-details">
        <h2>{{ job.name }}</h2>
        <h6>{{ job.company?.name }}</h6>
        <p>{{ job.location }}</p>
      </div>
    </div>
  </div>
</div>
