<div class="job-content-component">
  <div class="row">
    <div class="col-4">
      <app-left-bar-job></app-left-bar-job>
    </div>
    <div class="col-8">
      <div class="row job-search">
        <div>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit"><i class="bi bi-search"></i></button>
          </form>
        </div>
      </div>

      <div class="row job-content">
        <h1>job content</h1>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">Company Name</th>
            <th scope="col">Job Name</th>
            <th scope="col">City</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let job of jobs">
            <td>{{ job.companyName }}</td>
            <td>{{ job.jobName }}</td>
            <td>{{ job.city }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
