.job-content{
  border-radius: 8px;
  margin: 12px;
  height: 330px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-shadow:
    2px 3px 2px 3px rgba(0,0,0,0.1),
    3px 2px 3px 2px rgba(0,0,0,0.1);
}

.job-content::-webkit-scrollbar {
  display: none;
}

.job-search{
  margin: 0;
  margin-left: 50px;
}
.job-content hr{
  padding-top: 5px;
}

.job-content-component{
  height: 100%;
}


.job-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.company-logo img {
  width: 77px;
  height: 77px;
  border-radius: 3px;
  margin-right: 10px;
}

.job-details h2 {
  margin: 0;
  font-size: 1.1em;
}
.job-details h6 {
  font-size: 12px;
}

.job-details p {
  margin: 5px 0;
  font-size: 10px;
  color: #555;
}

.job-card:hover{
  background-color: #e6e2e2;
  cursor: pointer;
}




