.job-detail-container {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.job-detail-container h1 {
  color: #333;
}

.recruiter-info, .location, .about-company, .job-responsibilities {
  margin-bottom: 20px;
}

.job-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.detail-item {
  display: flex;
  align-items: center;
  width: 48%;
  margin-bottom: 10px;
}

.detail-item h1 {
  width: 50px;
  margin-bottom: 10px;
  margin-right: 1px;
}

.location, .about-company h2, .job-responsibilities h2 {
  color: #333;
  font-weight: bold;
}

.about-company p, .job-responsibilities ul {
  color: #666;
}

.col-2 button{
  width: 100%;
  margin: 2px;
  border-radius: 8px;
}

.cv-item{
  background-color: #cccc;
  border-radius: 5px;
  min-height: 50px;
}

.cv-item-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cv-user-name{
  margin: 0 auto;
  font-size: large;
}

.reaction {
  display: flex;
  flex-direction: column;
  height: 70px;
}

.reaction .row {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}
.reaction .row p{
  margin: 0;
}

.reaction .row:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}
