<div class="job-detail-container">
  <div class="row">
    <h1>{{job.name}}</h1>
    <div class="row">
      <div class="col-6">
        <div class="recruiter-info">
          <p>Email: {{job.company?.email}}</p>
        </div>
      </div>
      <div class="col-4"></div>
      <div class="col-2">
        <button *ngIf="accountRole=='ROLE_USER'" (click)="applyCv()">Apply</button>
        <div *ngIf="checkJobCompany;then companyAction"> </div>
        <ng-template #companyAction>
          <button (click)="openEditJobDialog(job)">Edit</button>
          <button (click)="deleteJob()">Delete</button>
        </ng-template>
      </div>

    </div>
  </div>

  <hr>
  <div class="row job-detail">
    <div class="detail-item">
      <div class="col-2">
        <h1><i class="bi bi-calendar4"></i></h1>
      </div>
      <div class="col-10">
        <strong>Job Type:</strong><br>
        <span>Full Time</span>
      </div>
    </div>

    <div class="detail-item">
      <div class="col-2">
        <h1><i class="bi bi-bar-chart-line"></i></h1>
      </div>
      <div class="col-10">
        <strong>Job Level:</strong><br>
        <span>{{job.jobLevel}}</span>
      </div>
    </div>
    <div class="detail-item">
      <div class="col-2">
        <h1><i class="bi bi-clock-history"></i></h1>
      </div>
      <div class="col-10">
        <strong>Job Experience:</strong><br>
        <span>{{job.requiredExperience}}</span>
      </div>
    </div>
    <div class="detail-item">
      <div class="col-2">
        <h1><i class="bi bi-suitcase-lg"></i></h1>
      </div>
      <div class="col-10">
        <strong>Job Category:</strong><br>
        <span><i *ngFor="let cat of job.jobCategory">
          {{cat.name}},
        </i></span>
      </div>
    </div>
    <div class="detail-item">
      <div class="col-2">
        <h1><i class="bi bi-mortarboard"></i></h1>
      </div>
      <div class="col-10">
        <strong>Educational:</strong><br>
        <span>{{job.requiredEducation}}</span>
      </div>
    </div>
  </div>

  <div class="row location">
    <p>Work location: {{job.location}}</p>
  </div>
  <hr>

  <div class="row about-company">
    <h2>About Company</h2>
    <div class="row">
      <div class="col-1">
        <img src="{{job.company?.logo}}" alt="" width="40px" height="40px">
      </div>
      <div class="col-8">
        <h3><strong>{{job.company?.name}}</strong></h3>
      </div>
    </div>
    <div class="row">
      {{job.company?.about}}
    </div>
  </div>
  <div class="job-responsibilities">
    <h2>Job Responsibilities</h2>
    <div>
      {{job.description}}
    </div>
  </div>
</div>
