/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  flex-direction: column;
  min-height: 100vh;
}


::ng-deep .custom-snackbar-text-color .mat-snack-bar-container {
  color: #192a9b; /* Your desired text color */
}

.EditJobDialog {
  padding: 20px;
}
