<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid   ">
    <a class="navbar-brand" href="#" style="margin-right: 1%">JVB</a>
    <a class="navbar-brand" routerLink="/job/job-content">
      <span><i style="font-size: 33px;" class="bi bi-house-fill"></i></span>
    </a>
    <a class="navbar-brand" routerLink="/login-page">
      <span><i style="font-size: 33px;" class="bi bi-newspaper"></i></span>
    </a>
    <a class="navbar-brand" routerLink="/login-page">
      <span><i style="font-size: 33px;" class="bi bi-collection"></i></span>
    </a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div style="margin: 0 auto">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn" type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>
    </div>

    <div *ngIf="user.role;then profileTemplate else loginTemplate"></div>
    <ng-template #profileTemplate>
      <a class="navbar-brand" href="#">Hi {{user.role}}</a>
      <div class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="true">
            <span><i class="bi bi-list" style="font-size: 33px;"></i></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngIf="user.role=='COMPANY'"><a class="dropdown-item" routerLink="job/manage-company">Company Action</a></li>
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a *ngIf="user.role" class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </div>
    </ng-template>
    <ng-template #loginTemplate>
      <a class="nav-link" routerLink="/login-page">Login</a>
      <a class="nav-link" routerLink="/register-page">Register</a>
    </ng-template>
  </div>

</nav>
<hr style="width: 95%; margin: 5px auto">
<br>
